/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
/vendor
/storage/logs/*.log
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
homeserver/
.editorconfig
.styleci.yml