// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

html {
    & body {
        background-color: #212121;
        & input {
            color: #eee;
        }
        & #root {
            & main {
                min-height: 60vh;
                & .circle-load {
                    border-top-left-radius: 290px;
                    border-top-right-radius: 290px;
                }

                & #main-table {

                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    padding: 50px;

                    & .machine-container {
                        height: 75px;
                        overflow-y: hidden;
                        flex: 1;
                        color: white;
                        text-align: center;

                        & div.machine-cpu , div.machine-ram, div.machine-disk, div.os {
                            height: 75px;
                            width: 150px;
                            text-align: center;
                            line-height: 75px;
                            vertical-align: middle;
                            border-left: 10px solid black;
                            border-right: 10px solid black;
                            border-top: 10px solid black;
                            margin: 0 auto;
                            //font-size: 0.8em;
                        }

                        & div.os {
                            border-bottom: 10px black !important;
                        }

                        & .load {
                            height: 75px;
                            width: 150px;
                            border-left: 10px solid ;
                            border-right: 10px solid ;
                            border-bottom: 10px solid ;
                            border-bottom-left-radius: 190px;
                            border-bottom-right-radius: 190px;
                            transition: all 1s ease-in-out;
                            transform-origin: top center;
                            transform: rotate(0deg);
                            margin: 0 auto;
                        }
                    }

                    & .cpu>.load, .ram>.load, .disk>.load {
                        border-color: greenyellow !important;
                    }
                }
            }
            footer {
                height: 20vh;
            }
        }
    }
}