//@use "tailwindcss";
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables

.pointer {
  cursor: pointer;
}

.arrow {
  cursor: default;
}

* {
  padding: 0;
  margin: 0;
}

html {
  z-index: -5;
  max-width: 100vw;
  min-height: 100vh;

  & body {
    background-color: #161616;
    background-size: 4.6875rem;
    background-repeat: repeat;
    background-attachment: initial;
    z-index: -5;
    max-width: 100vw;
    min-height: 100vh;

    & #app > div > main {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      & > .MuiPaper-root {
        flex-grow: 1;
        align-self:flex-start;
      }

      & > .main-content {
        flex-grow: 1
      }

      & footer {
        flex-grow: 0;
      }

      & .hsbreadcrumb {
        margin-top: 50px;
        padding-top: 30px;
        padding-left: 30px;
      }
    }
  }
}
