html {
     & body {
         & #app {
          min-height: max-content;
           main {
             min-height: 100vh;
              .login-form {
                & .ui.header {
                  color: white;
                }
                  color: white;
                  padding: 15px;
                }
             }
         }
     }
}