#presentation {
    text-align: center;
    color: whitesmoke;
}

.cpu .load {
    background-image: url("../../storage/app/public/cpu.png") !important;
    background-repeat: no-repeat;
    background-position: top center;
}

.ram .load {
    background-image: url("../../storage/app/public/ram.png") !important;
    background-repeat: no-repeat;
    background-position: top center;
}

.disk .load {
    background-image: url("../../storage/app/public/hdd.png") !important;
    background-repeat: no-repeat;
    background-position: top center;
}

.temp .load {
    background-image: url("../../storage/app/public/celsius.png") !important;
    background-repeat: no-repeat;
    background-position: top center;
}