[Unit]
Description=Homeserver Core Daemon

[Service]
After=network.target
StartLimitIntervalSec=0[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/bash /usr/bin/homeserver

[Install]
WantedBy=multi-user.target
