footer {
  width: 100%;
  // Add a top border
  border-top: 1px solid #eaeaea;
  // Change the text color
  color: #999;
  // Change the font size
  font-size: 0.75rem;
  height: 20em;
  padding: 3em;
  margin-top: 5em;
  font-size: 0.8em;
}