html {
    & body {
        & #root {
            & main {
                & .ui.form {
                    margin: 0 auto;
                    text-align: center;
                    &button {
                        text-align: left;
                    }
                }
            }
        }
    }
}